
a{

    color: #27ae60 !important;
    text-decoration: none;

}

.layout-transparent {

    background-color: #3f3e3d;

}

.layout-transparent .mdl-layout__header, .layout-transparent .mdl-layout__drawer-button {

    color: white;

}

.mdl-layout__title, .mdl-layout-title {

    margin: 1px !important;
    font-size: 30px !important;
    text-shadow: 3px 1px 5px rgba(150, 150, 150, 1);

}

.mdl-layout--fixed-drawer.is-upgraded:not(.is-small-screen)>.mdl-layout__header {

    margin-left: 0px !important;

}

.mdl-layout--fixed-drawer.is-upgraded:not(.is-small-screen)>.mdl-layout__header {

    width: 100% !important;

}

.mdl-layout__header-row{

    padding: 0 15px 0 !important;

}

.mdl-layout__header-row .mdl-navigation__link:last-of-type  {

    padding-right: 0;

}

.center-items{

    margin: 0 auto !important;

}

.mdl-navigation__link{

    cursor: pointer;

}

#circuitSVG{

    width: 100%;
    height: 100%;

}